name: CI
on: [push, pull_request]
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Confirm files exist
        run: |
          echo "Archivos contenidos:"
          ls -la
          test -f index.html
